* {
    padding: 0;
    margin: 0;
}

.ex{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    background-color: green;
}

.ex1 {
    width: 40px;
    height: 40px;
    padding: 20px;
    background-color: red;
    border-radius: 50%;
}